* {
    left: 30%;
    position: fixed;
    font-size: 40px;
    background-color: #2e2d2d;
}

input {
    border: solid black 1px;
    cursor: pointer;
    top: 20%;
    border-radius: 10px;
}

button {
    border: solid black 1px;
    cursor: pointer;
    border-radius: 10px;
}

#startButton {
    top: 27%;
}

#stopButton {
    top: 27%;
}

#toggle-light {
    top: 35%;
    font-size: 20px;
}

.change-color-on-hover:hover {
    background-color: #1c1b1b;
}

#countdown {
    font-size: 30px;
}